<h2>Edit a contact</h2>

<form action='/contacts/<%= @contact.id %>' method='post'>
  <input type="hidden" name="_method" value="put">
  <label for="first_name">
    <span>First name:</span>
    <input id="first_name" type='hidden' name='_method' value='put'>
  </label>

  <label for="last_name">
    <span>last_name:</span>
  <input id="last_name" type='text' name='last_name' value='<%= @contact.last_name %>'>
</label>

 <label for="email">
   <span>Email:</span>
  <input id="email" type='text' name='email' value='<%= @contact.email %>'>
</label>

<label for="note">
  <span>Note:</span>
  <input id="note"type='text' name='note' value='<%= @contact.note %>'>
</label>

  <input type='submit' value='Edit Contact'>
</form>
