<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles.css">
  </head>
  <body>

    <header>
      <h1 class="header">Bitmaker CRM</h1>
      <nav class="menu"><ul class="hello">
        <li><a class="home"href="/">Home</a></li>
        <li><a class="add"href="/contacts">Add a contact</a></li>
        <li><a class="about"href="/about">About</a></li>
     </ul>
    <nav>
    </header>


  <main>

<%= yield %>
 </main>
 <footer>
   <h5>@Bitmaker 2017</h5>
 </footer>

  </body>

</html>
